<h1>Cadastro de Tipos de Imóvel</h1>

<div>
    <% flash.each do |nome, mensagem| %>
        <%= content_tag :div, mensagem, class: nome %>
    <% end %>
</div>

<%= form_with model: @property_type do |form| %>
    <div>
        <%= form.label :name, 'Tipo' %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.submit 'Enviar'%>
    </div>
<% end %>