<%= form_with model: object do |form| %>
    <div>
        <%= form.label :title, 'Título' %>
        <%= form.text_field :title %>
        <% object.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :description, 'Descrição' %>
        <%= form.text_field :description %>
        <% object.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :rooms, 'Quartos' %>
        <%= form.number_field :rooms %>
        <% object.errors.full_messages_for(:rooms).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :bathrooms, 'Banheiros' %>
        <%= form.number_field :bathrooms %>
        <% object.errors.full_messages_for(:bathrooms).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :daily_rate, 'Diária' %>
        <%= form.number_field :daily_rate %>
        <% object.errors.full_messages_for(:daily_rate).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :property_location, 'Região' %>
        <%= form.collection_select :property_location_id, @property_location, :id, :name, {:prompt => 'Selecione uma Região'} %>
        <% object.errors.full_messages_for(:property_location_id).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :property_type, 'Tipo' %>
        <%= form.collection_select :property_type_id, @property_type, :id, :name, {:prompt => 'Selecione uma Região'}  %>
        <% object.errors.full_messages_for(:property_type_id).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.check_box :pets %>
        <%= form.label :pets, 'Aceita Pets' %>
        <% object.errors.full_messages_for(:pets).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.check_box :parking_slot %>
        <%= form.label :parking_slot, 'Vaga de Estacionamento' %>
        <% object.errors.full_messages_for(:parking_slot).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

  <div>
    <%= form.submit 'Enviar'%>
  </div>
<% end %>