<!DOCTYPE html>
<html>
  <head>
    <title>Flats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if property_owner_signed_in? %>
      <p><%= current_property_owner.email %>
      <p><%= link_to 'Logout', destroy_property_owner_session_path, method: :delete %></p>
      <p><%= link_to 'Meus Imóveis',  my_properties_properties_path %></p>
      <p><%= link_to 'Cadastrar Imóvel', new_property_path%></p>
    <% else %>
      <p><%= link_to 'Login', new_property_owner_session_path %></p>
      <p><%= link_to 'Registre-se', new_property_owner_registration_path %></p>
    <% end %>

    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
